@page
@model IACG.Pages.Apps.EditModel

@{
    ViewData["Title"] = "编辑应用";
    ViewData["Id"] = "Apps";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a asp-page="/Index">IACG</a></li>
    <li class="breadcrumb-item"><a asp-page="./Index">应用</a></li>
    <li class="breadcrumb-item">
        <a asp-page="./Details" asp-route-id="@Model.App.Id">
            @Html.DisplayFor(model => model.App.Name)
        </a>
    </li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
</ul>

<h1>编辑</h1>

<h4>应用</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="App.Id" />
            <input type="hidden" asp-for="App.UserId" />
            <div class="form-group">
                <label asp-for="App.Name" class="control-label"></label>
                <input asp-for="App.Name" class="form-control" />
                <span asp-validation-for="App.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="App.Description" class="control-label"></label>
                <textarea asp-for="App.Description" class="form-control" style="height: 500px"></textarea>
                <span asp-validation-for="App.Description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="App.LastModifyTime" />
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">回到列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
